main{
  padding-left: 2rem;
  background-image:  url(../public/assets/home/background-home-desktop.jpg);
  height: 97vh;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;

    .parte-izquierda {
      display: flex;
      align-items: center;
      .linea {
        border: 1px groove gray;
        width: 40rem;
        margin-left: 12rem;
      }      
    }

    .parte-derecha {
      height: 75%;  
      .p-menubar {
        background: none;
        backdrop-filter: blur(2rem);
        border: none; 
        height: 100%;
        .p-menuitem-text{
          color:white
        }
      }
      .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover{
        background: none;
      }
    }
    
  }
  .contenido{
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    gap: 2rem;
    div {
      height: 80vh;
      gap:1rem
    }
    .lado-izquierdo{
      display: flex;
      flex-direction: column;
      place-content: center;
      
      h1 {
        font-size: 5rem;
        font-weight: 500;
      }
      p{
        font-size: 0.8rem;
      }
    }
    .lado-derecho {
      display: flex;
      place-content: center;
      align-items: center;
      .explorer {
        background: white;
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
        text-align: center;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}